version: "3.8"

services:
  sql:
    image: mcr.microsoft.com/mssql/server
    environment:
      SA_PASSWORD: "Password123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis
    ports:
      - "6379:6379"

  eventservice:
    build: ./EventService
    ports:
      - "5000:8080"
    depends_on:
      - sql
      - rabbitmq
      - redis

  notificationservice:
    build: ./NotificationService
    depends_on:
      - sql
      - rabbitmq